.g-wrap {
    width: 1205px;
    margin: 0 auto;
}

html,
body {
    min-width: 1616px;
}

.g-align {
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

.m-topbar {
    width: 100%;
    line-height: 36px;
    background-color: #F3F3F3;
}

.m-topbar p span {
    padding-left: 15px;
    background: url(../img/sprite.png) 0 13px no-repeat;
    cursor: pointer;
}

header .logo {
    margin: 30px 0 37px;
}

header .logo h1 {
    line-height: 22px;
    padding-left: 84px;
    background: url(../img/sprite.png) -190px 0 no-repeat;
}

.m-follow {
    font-family: 'SimSun';
    margin: 31px 0 37px 30px;
    line-height: 21px;
}

.m-follow p {
    color: #666;
}

.m-follow .u-btn {
    display: none;
    font-family: 'SimSun';
    margin-right: 14px;
    padding-left: 22px;
    vertical-align: middle;
}

.m-follow #btn-follow {
    height: 21px;
    padding-right: 8px;
    color: #fff;
    background: url(../img/sprite.png) -245px -22px no-repeat #21A557;
    border: 0;
    border-radius: 1px;
}

.m-follow #btn-follow:hover {
    background-color: #29BB56;
}

.m-follow #btn-unfollow {
    height: 19px;
    font-family: 'SimSun';
    padding-right: 6px;
    color: #535353;
    background: url(../img/sprite.png) -244px -40px no-repeat #F8F8F8;
    border: 1px solid #F0F0F0;
    border-radius: 1px;
}

.m-follow #unfollow {
    color: #B5B5B5;
}

.m-follow #unfollow:hover {
    color: #21A557;
    text-decoration: underline;
}

.m-follow #btn-unfollow .f-sp {
    color: #DCDCDC;
    font-size: 10px;
    vertical-align: text-top;
}

header nav {
    margin: 35px 0 0 36px;
}

header nav a {
    margin: 0 28px;
    line-height: 18px;
    font-size: 14px;
    color: #666;
}

header nav a:hover {
    color: #39A030;
}

header nav .search {
    margin: 0;
    width: 19px;
    height: 19px;
    background: url(../img/sprite.png) -243px -64px no-repeat;
}

header nav .search:hover {
    background: url(../img/sprite.png) -243px -86px no-repeat;
}

.g-bdtop {
    width: 100%;
}

.m-sliderbox {
    height: 460px;
    position: relative;
    text-align: center;
}

.m-slider {
    width: 100%;
    height: 100%;
    position: relative;
}

.m-sliderbox .slide {
    width: 100%;
    height: 100%;
    position: absolute;
}

.m-sliderbox .slide img {
    display: inline-block;
    width: 100%;
}

.m-cursor {
    position: absolute;
    bottom: 15px;
    right: 0;
    left: 0;
    margin: 0 auto;
    line-height: 20px;
}

.m-cursor li {
    list-style: none;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    cursor: pointer;
    transition: background-color .5s;
    background-color: #fff;
    border-radius: 50%;
}

.m-cursor .z-ac {
    background-color: #333;
}

.m-product {
    margin: 0 -83px 0 0;
}

.m-product div {
    width: 33.33%;
    padding: 62px 0;
}

.m-product .icon {
    width: 80px;
    height: 80px;
    padding: 0;
    margin: 8px 20px 0 0;
}

.m-product .icon.open {
    background: url(../img/sprite.png) 0 -50px no-repeat;
}

.m-product .icon.study {
    background: url(../img/sprite.png) -80px -50px no-repeat;
}

.m-product .icon.icourse {
    background: url(../img/sprite.png) -160px -50px no-repeat;
}

.m-product p {
    overflow: hidden;
    margin: 14px 83px 0 0;
    line-height: 24px;
    font-size: 14px;
}

.m-scrollwrapper {
    height: 220px;
    position: relative;
    overflow: hidden;
}

.m-scrollbox {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

.m-scrollbox .slide {
    width: 20%;
    height: 100%;
    position: absolute;
}

.g-bdbot {
    padding: 81px 0 120px;
    background-color: #F8F8F8;
}

.g-bdbot article {
    width: 980px;
}

.m-tab li {
    display: inline-block;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #21A557;
    background-color: #FFF;
    box-shadow: 0 1px 1px 1px #D3D3D3;
}

.m-tab li.z-ac {
    color: #FFF;
    background-color: #21A557;
}

.m-tab li:hover {
    box-shadow: 0 1px 2px 2px #D0D0D0;
}

.m-coursebox ul {
    padding: 20px 0;
    margin-left: -20px;
}

.m-coursebox li {
    position: relative;
    width: 225px;
    line-height: 22px;
    margin: 10px 0 10px 20px;
    background-color: #FFF;
    box-shadow: 0 1px 1px 1px #D3D3D3;
}

.m-coursebox ul li:hover {
    box-shadow: 0 1px 2px 2px #D0D0D0;
}

.m-course img {
    width: 223px;
    height: 124px;
    margin: 1px;
}

.m-course h3 {
    margin: 0 5px;
}

.m-course p {
    margin: 0 5px 3px;
    color: #BBB;
}

.m-course .count {
    display: inline-block;
    line-height: 16px;
    font-size: 8px;
    padding: 0 3px 0 17px;
    margin: 4px 0;
    background: url(../img/sprite.png) 3px -16px no-repeat;
    border: 1px solid #BBB;
    border-radius: 2px;
}

.m-course strong {
    margin-left: 2px;
    font-weight: 600;
    color: #FF3F00
}

li.m-detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 480px;
    padding: 11px;
    margin: 0;
    z-index: 1;
}

.m-detail img {
    width: 223px;
    height: 124px;
    margin: 0 20px 20px 0;
}

.m-detail h3 {
    margin: 4px 0 10px;
    font-size: 17px;
}

.m-detail .count {
    border: none;
    margin: 0;
}

.m-detail p {
    color: #989898;
}

.m-detail .description {
    clear: both;
    font-size: 14px;
    color: #666;
    margin: 0 -11px -11px;
    padding: 22px;
    background-color: #F8F8F8;
}

.m-pager li {
    font-size: 14px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.m-pager .page:hover {
    color: #FFF;
    background-color: #9DD8B1;
}

.m-pager .page {
    width: 20px;
    height: 20px;
    color: #8A8A8A
}

.m-pager .page.z-ac {
    color: #39A030;
}

.m-pager .prev,
.m-pager .next {
    font-weight: bold;
    width: 30px;
    height: 20px;
    color: #FFF;
    background-color: #9DD8B1;
}

.m-org,
.m-hot {
    width: 223px;
    box-shadow: 0 1px 1px 1px #D3D3D3;
    background-color: #FFF;
}

.m-org:hover,
.m-hot:hover {
    box-shadow: 0 1px 2px 2px #D0D0D0;
}

.m-org .videobox,
.m-hot ul {
    position: relative;
    padding: 20px;
}

.m-org h2,
.m-hot h2 {
    padding: 20px;
    border-bottom: 1px solid #DDD;
}

.m-org p {
    margin-bottom: 9px;
    margin-left: 2px;
}

.m-org #video-trigger {
    margin-left: 2px;
    margin-right: 1px;
    cursor: pointer;
}

.m-org img {
    width: 180px;
    height: 110px;
}

.m-org i {
    position: absolute;
    bottom: 54px;
    left: 89px;
    width: 46px;
    height: 46px;
    background: url(../img/sprite.png) -67px 0px no-repeat;
}

.m-video {
    padding: 29px 30px 40px 31px;
    background-color: #FFF;
    text-align: left;
    position: relative;
    width: 889px;
    height: 542px;
}

.m-video span {
    position: absolute;
    width: 12px;
    line-height: 10px;
    top: 13px;
    right: 11px;
    font-size: 24px;
    cursor: pointer;
}

.m-video h2 {
    font-size: 18px;
    margin-bottom: 22px;
}

.m-video video {
    width: 889px;
}

.m-hot {
    margin-top: 21px;
}

.m-hot li {
    overflow: hidden;
}

.m-hot li+li {
    margin-top: 20px;
}

.m-hot img {
    width: 50px;
    height: 50px;
    margin-right: 12px;
}

.m-hot h3 {
    font-size: 14px;
    margin-bottom: 12px;
}

.m-hot h3:hover {
    color: #39A030;
}

.m-hot span {
    padding-left: 16px;
    font-size: 9px;
    color: #999;
    background: url(../img/sprite.png) 3px -17px no-repeat;
}

footer {
    color: #A2A4A5;
    width: 100%;
    height: 262px;
    background-color: #2C3339;
}

footer .g-ftlt {
    margin: 93px 0 auto 50px;
    line-height: 25px;
    letter-spacing: 1px;
    word-spacing: 2px;
}

footer a {
    color: #A2A4A5;
}

footer a:hover {
    color: #A2A4A5;
    text-decoration: underline;
}

footer .logo h1 {
    color: #39A030;
    line-height: 22px;
    padding-left: 84px;
    margin-bottom: 17px;
    background: url(../img/sprite.png) -190px 0 no-repeat;
}

.g-ftrt {
    margin: 83px 208px auto 0;
    line-height: 29px;
    font-size: 13px;
}

.g-ftrt ul {
    font-size: 15px;
}

.g-ftrt .link {
    width: 210px;
}

.g-ftrt .about {
    width: 134px;
}

.g-ftrt .about .microblog {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 18px;
    background: url(../img/sprite.png) -152px 1px no-repeat;
}

.m-login {
    position: relative;
    width: 308px;
    height: 218px;
    background-color: #FFF;
    padding: 30px 40px 40px;
    text-align: left;
}

.m-login span {
    position: absolute;
    width: 12px;
    line-height: 10px;
    top: 10px;
    right: 8px;
    font-size: 24px;
    cursor: pointer;
}

.m-login h2 {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 5px;
}

.m-login input {
    width: 273px;
    height: 43px;
    line-height: 43px;
    padding: 0 10px;
    margin-top: 15px;
    font-size: 15px;
    border: 1px solid #DFDFDF;
    box-shadow: inset 1px 1px 2px 1px #F1F1F1;
}

.m-login input:-ms-input-placeholder {
    color: #CCC;
}

.m-login input::-webkit-input-placeholder {
    color: #CCC;
}

.m-login input:-moz-placeholder {
    color: #CCC;
}

.m-login input::-moz-placeholder {
    color: #CCC;
}

.m-login p {
    margin: 10px 0;
    font-size: 10px;
    height: 10px;
}

.m-login button {
    width: 293px;
    height: 46px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 3px;
    color: white;
    background-color: #21A557;
    background-image: linear-gradient(to top, #118929, #2CB150);
    border: none;
    box-shadow: 2px 2px 2px 0 #D5E3DA;
}

.g-max {
    width: 1615px;
    margin: 0 auto;
}

@media screen and (max-width:1204px) {
    .g-wrap {
        width: 960px;
        margin: 0 auto;
    }
    html,
    body {
        min-width: 1205px;
    }
    .g-bdbot article {
        width: 715px;
    }
    footer .g-ftlt {
        margin-left: 0;
    }
    footer .g-ftrt {
        margin-right: 0;
    }
    .m-sliderbox {
        width: 1205px;
        height: 336px;
    }
    .m-scrollwrapper {
        width: 1205px;
    }
}


/*功能样式*/

.f-fr {
    float: right;
}

.f-fl {
    float: left;
}

.f-hv:hover {
    color: #21A557;
}

.f-db {
    display: block;
}

.f-ib {
    display: inline-block;
}

.f-pa {
    position: absolute;
}

.f-pr {
    position: relative;
}

.f-mw {
    min-width: 1205px;
}

.f-oh {
    overflow: hidden;
}

.f-ep {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.f-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}


/*皮肤样式*/

.s-link {
    color: #21A557;
}

.s-link:hover {
    color: #39A030;
    text-decoration: underline;
}

.s-invalid {
    color: #FF3F00;
}


/*ie8不支持两个::*/

.clearfix:after {
    content: '.';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}